$colorSelectSite: #F16D7F;

.top-head_heding {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $colorSelectSite;
}

.bred-crumbs_link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $colorSelectSite;
}

